<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amor propio</title>
    <link rel="stylesheet" href="../static/CSS/Catalogo.css">
</head>
<body>
    <div class="header">
        <h1>Amor propio</h1>
    </div>

    <div class="main-content">
        <div class="text-column">
            <p>El amor propio es aceptarse, valorarse y tratarse con compasión. Se desarrolla mediante el autoconocimiento, estableciendo límites saludables, practicando el autocuidado y rechazando comparaciones. Incluye perdonarse los errores, celebrar los logros y priorizar el bienestar emocional. Es la base para relaciones sanas y una vida plena.</p>
        </div>
        
        <div class="image-column">
            <div class="logo-container">
                <img src="../static/IMAGE/IMJUVE Logo 2.jpeg" alt="Logo IMJUVE" class="logo">
                <div class="speaker">Oradora: Psicóloga Gabriela Jazmin de la Zancha Vargas</div>
            </div>
        </div>
    </div>
</body>
</html>