<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cero violencia escolar</title>
    <link rel="stylesheet" href="../static/CSS/Catalogo.css">
</head>
<body>
    <div class="header">
        <h1>Cero violencia escolar</h1>
    </div>

    <div class="main-content">
        <div class="text-column">
            <p>La violencia escolar destruye autoestimas y entornos de aprendizaje. Para erradicarla, debemos fomentar la empatía, implementar protocolos antibullying y enseñar resolución pacífica de conflictos. Involucrar a estudiantes, docentes y familias en la creación de espacios seguros garantiza que la educación ocurra con respeto y dignidad para todos. </p>
        </div>
        
        <div class="image-column">
            <div class="logo-container">
                <img src="../static/IMAGE/POLICIA CIBERNETICA Logo.png" alt="Logo IMJUVE" class="logo">
                <div class="speaker">Orador: Policia cibernetica</div>
            </div>
        </div>
    </div>
</body>
</html>