<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comer para vivir: La importancia de una alimentación saludable.</title>
    <link rel="stylesheet" href="../static/CSS/Catalogo.css">
</head>
<body>
    <div class="header">
        <h1>Comer para vivir: La importancia de una alimentación saludable.</h1>
    </div>

    <div class="main-content">
        <div class="text-column">
            <p>Una dieta equilibrada es el cimiento de la salud física y mental. Priorizar frutas, verduras, proteínas magras y granos integrales previene enfermedades, mejora el rendimiento y regula el estado de ánimo. Alimentarse conscientemente no es restricción, sino un acto de autocuidado que potencia la vida.</p>
        </div>
        
        <div class="image-column">
            <div class="logo-container">
                <img src="../static/IMAGE/POLICIA CIBERNETICA Logo.png" alt="Logo IMJUVE" class="logo">
                <div class="speaker">Orador: Policia cibernetica</div>
            </div>
        </div>
    </div>
</body>
</html>