<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educación ambiental</title>
    <link rel="stylesheet" href="../static/CSS/Catalogo.css">
</head>
<body>
    <div class="header">
        <h1>Educación ambiental</h1>
    </div>

    <div class="main-content">
        <div class="text-column">
            <p>La educación ambiental forma ciudadanos responsables con el planeta. Enseña a reducir huella ecológica, valorar biodiversidad y practicar consumo sostenible. Desde reciclaje hasta activismo comunitario, cada acción cuenta. Es la semilla para construir sociedades que armonicen progreso con protección de los recursos naturales.</p>
        </div>
        
        <div class="image-column">
            <div class="logo-container">
                <img src="../static/IMAGE/POLICIA CIBERNETICA Logo.png" alt="Logo IMJUVE" class="logo">
                <div class="speaker">Orador: Policia cibernetica</div>
            </div>
        </div>
    </div>
</body>
</html>