<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feminismo: La lucha por la igualdad</title>
    <link rel="stylesheet" href="../static/CSS/Catalogo.css">
</head>
<body>
    <div class="header">
        <h1>Feminismo: La lucha por la igualdad</h1>
    </div>

    <div class="main-content">
        <div class="text-column">
            <p>El feminismo busca equidad de género, derribando estereotipos y sistemas opresivos. No es superioridad femenina, sino justicia social. Exige derechos igualitarios en salarios, oportunidades y seguridad. Educar, visibilizar desigualdades y deconstruir privilegios son pasos clave hacia una sociedad realmente libre e inclusiva.</p>
        </div>
        
        <div class="image-column">
            <div class="logo-container">
                <img src="../static/IMAGE/POLICIA CIBERNETICA Logo.png" alt="Logo IMJUVE" class="logo">
                <div class="speaker">Orador: Policia cibernetica</div>
            </div>
        </div>
    </div>
</body>
</html>