<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fortalecimiento y empoderamiento juvenil</title>
    <link rel="stylesheet" href="../static/CSS/Catalogo.css">
</head>
<body>
    <div class="header">
        <h1>Fortalecimiento y empoderamiento juvenil</h1>
    </div>

    <div class="main-content">
        <div class="text-column">
            <p>El empoderamiento juvenil se construye mediante educación inclusiva, acceso a oportunidades y participación activa en la sociedad. Al desarrollar habilidades críticas, liderazgo y autoconfianza, los jóvenes se transforman en agentes de cambio capaces de enfrentar desafíos globales y construir futuros más justos e innovadores.</p>
        </div>
        
        <div class="image-column">
            <div class="logo-container">
                <img src="../static/IMAGE/POLICIA CIBERNETICA Logo.png" alt="Logo IMJUVE" class="logo">
                <div class="speaker">Orador: Policia cibernetica</div>
            </div>
        </div>
    </div>
</body>
</html>