<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resiliencia: Tu fuerza interior</title>
    <link rel="stylesheet" href="../static/CSS/Catalogo.css">
</head>
<body>
    <div class="header">
        <h1>Resiliencia: Tu fuerza interior</h1>
    </div>

    <div class="main-content">
        <div class="text-column">
            <p>La resiliencia es la capacidad de sobreponerse a la adversidad, aprendiendo y creciendo de ella. Se fortalece con autoconocimiento, apoyo social y mentalidad flexible. No es evitar el dolor, sino transformarlo en sabiduría. Cada caída superada te hace más fuerte y preparado para nuevos desafíos.</p>
        </div>
        
        <div class="image-column">
            <div class="logo-container">
                <img src="../static/IMAGE/POLICIA CIBERNETICA Logo.png" alt="Logo IMJUVE" class="logo">
                <div class="speaker">Orador: Policia cibernetica</div>
            </div>
        </div>
    </div>
</body>
</html>