<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rompiendo cadenas: Ansiedad y Depresión</title>
    <link rel="stylesheet" href="../static/CSS/Catalogo.css">
</head>
<body>
    <div class="header">
        <h1>Rompiendo cadenas: Ansiedad y Depresión</h1>
    </div>

    <div class="main-content">
        <div class="text-column">
            <p>La ansiedad y depresión son cadenas invisibles que limitan la vida, pero pueden romperse. Reconocerlas, buscar ayuda profesional, practicar mindfulness y rodearse de apoyo emocional son pasos clave. Pequeñas victorias diarias, como hablar de lo que sentimos o mantener rutinas, reconstruyen la libertad interior. </p>
        </div>
        
        <div class="image-column">
            <div class="logo-container">
                <img src="../static/IMAGE/IMJUVE Logo 2.jpeg" alt="Logo IMJUVE" class="logo">
                <div class="speaker">Oradora: Psicóloga Gabriela Jazmin de la Zancha Vargas</div>
            </div>
        </div>
    </div>
</body>
</html>