<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Violencia digital y Ley Olimpia</title>
    <link rel="stylesheet" href="../static/CSS/Catalogo.css">
</head>
<body>
    <div class="header">
        <h1>Violencia digital y Ley Olimpia.html</h1>
    </div>

    <div class="main-content">
        <div class="text-column">
            <p>La violencia digital incluye acoso, sextorsión y difusión de contenido íntimo sin consentimiento. La Ley Olimpia en México lo tipifica como delito, protegiendo a las víctimas y sancionando a agresores. Reportar estos actos, configurar privacidad en redes y educar sobre el respeto digital son claves para combatirla. </p>
        </div>
        
        <div class="image-column">
            <div class="logo-container">
                <img src="../static/IMAGE/IMJUVE Logo 2.jpeg" alt="Logo IMJUVE" class="logo">
                <div class="speaker">Oradora: Psicóloga Gabriela Jazmin de la Zancha Vargas</div>
            </div>
        </div>
    </div>
</body>
</html>